TrainingEnvironment/RoadDetection/PreprocessedData/
TrainingEnvironment/RoadDetection/RawData/

TrainingEnvironment/RoadDetection/Scripts/torch_vision
TrainingEnvironment/RoadDetection/Scripts/torch_vision/__pycache__/

TrainingEnvironment/RoadDetection/Models
TrainingEnvironment/RoadDetection/Scripts/vision/
*.v2
Core/.vs/*
Core/ConsciousCar/bin
Core/ConsciousCar/obj
*.pyc
